@import '~@mapsindoors/midt/build/css/mapsindoors-map-variables';
@import '~@mapsindoors/css/toggle.css';

.mapsindoors-map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    * {
        box-sizing: border-box;
        font-family: var(--font-family-system);
    }

    &__floor-selector--show {
        .mapsindoors.floor-selector {
            display: block;
        }
    }

    &__floor-selector--hide {
        .mapsindoors.floor-selector {
            display: none;
        }
    }
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;

    #mi_map_logo {
        z-index: var(--z-index-dropdown) !important;
    }
}

/*
 * Utility class to prevent global scrolling for an element.
 */
.prevent-scroll {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none; // iOS fix
}