@import '~@mapsindoors/midt/variables';

.mapsindoors-map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    * {
        box-sizing: border-box;
        font-family: var(--font-family-system);
    }
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}
