@import '~@mapsindoors/midt/build/css/mapsindoors-map-variables';
@import '~@mapsindoors/css/toggle.css';

.mapsindoors-map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    * {
        box-sizing: border-box;
        font-family: var(--font-family-system);
    }
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

/*
 * Utility class to prevent global scrolling for an element.
 */
.prevent-scroll {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none; // iOS fix
}