@import '~@mapsindoors/midt/build/css/mapsindoors-map-variables';
@import '~@mapsindoors/css/toggle.css';

.mapsindoors-map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    * {
        box-sizing: border-box;
        font-family: var(--font-family-system);
    }

    &--show-elements {
        .mapsindoors.floor-selector {
            display: block;
        }

        .venue-selector__button {
            display: block;
        }
    }

    &--hide-elements {
        .mapsindoors.floor-selector {
            display: none;
        }

        .venue-selector__button {
            display: none;
        }
    }
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;

    #mi_map_logo {
        z-index: var(--z-index-dropdown) !important;
    }

    .floor-selector {
        max-height: 346px; // UX Spec
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/*
 * Utility class to prevent global scrolling for an element.
 */
.prevent-scroll {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none; // iOS fix
}