@use "~@mapsindoors/midt/font";
@use "~@mapsindoors/midt/color";
@use "~@mapsindoors/midt/background-color";
@use "~@mapsindoors/midt/icons";
@use "~@mapsindoors/midt/padding";
@use "~@mapsindoors/midt/border";
@use "~@mapsindoors/midt/transitions";
@use "~@mapsindoors/midt/build/scss/variables" as variables;

@import "../../global/global";

:host {
    @include padding.all(medium);
    @include font.size(medium);
    @include font.weight(large);
    @include font.leading(medium);
    @include transitions.transition(quickly);
    @include font.family(system);
    @include border.radius(large);
    @include background-color.gray(10);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: variables.$spacing-medium;
    border: 1px solid variables.$color-gray-30;
}

:host(:hover), :host(.hovered) {
    background-color: var(--tailwind-colors-gray-200);
    border: 1px solid variables.$color-gray-40;
}

.img-container {
    width: variables.$spacing-x-large;
    height: variables.$spacing-x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    @include border.radius(large);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    @include padding.right(medium);
    flex: 1;
    display: grid;
    gap: variables.$spacing-xx-small;

    &-title {
        margin: 0;
        padding: 0;
    }
}

.distance {
    @include font.weight(medium);
}

mi-location-info {
    @include color.gray(60);
}