@import '../../variables.scss';

$button-from-top: var(--spacing-small);
$button-width: var(--spacing-xx-large);
$button-height: $button-width;

$transition-speed: 400ms;
$transition-timing-function: ease;
$align-offset: 2px;

.venue-selector {
    &__content {
        position: absolute;
        background-color: white;
        z-index: var(--z-index-popup);
        overflow-y: hidden;
        display: grid;
        grid-template-rows: var(--spacing-xxxx-large) 1fr;

        h1 {
            color: var(--color-gray-90);
            font-size: var(--font-size-small);
            margin: 0;
            height: calc($button-height + 2 * var(--spacing-small));
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /*
         * Transition classes.
         * The transitions make the Venue selector appear to be expanding from and disappearing into the toggle button.
         */

        &-enter {
            top: $button-from-top;
            bottom: calc(100% - var(--spacing-xxxx-large));
            left: var(--spacing-x-small);
            width: var(--spacing-xx-large);
            transition: all $transition-speed $transition-timing-function;
            opacity: 0;

            @media (min-width: $desktop-breakpoint) {
                right: var(--spacing-small);
                left: auto;
            }
        }

        &-enter-active,
        &-enter-done {
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 1;

            @media (min-width: $desktop-breakpoint) {
                right: 0;
                left: auto;
            }
        }

        &-exit {
            top: var(--spacing-xxxx-large);
            bottom: 0;
            left: 0;
            width: 100%;
            transition: all $transition-speed $transition-timing-function;
            opacity: 1;

            @media (min-width: $desktop-breakpoint) {
                right: 0;
                left: auto;
            }
        }

        &-exit-active {
            top: $button-from-top;
            bottom: calc(100% - var(--spacing-xxxx-large));
            left: var(--spacing-x-small);
            width: var(--spacing-xx-large);
            opacity: 0;

            @media (min-width: $desktop-breakpoint) {
                right: var(--spacing-small);
                left: auto;
            }
        }
    }

    &__list {
        overflow-y: auto;
    }

    &__button {
        background-color: var(--tailwind-colors-white);
        border-radius: var(--rounding-large);
        border: 1px solid #E6E6E6;
        position: absolute;
        width: var(--spacing-xxx-large);
        height: var(--spacing-xxx-large);
        top: $button-from-top;
        left: calc(var(--spacing-small) - $align-offset);
        z-index: var(--z-index-sticky);

        &--open {
            z-index: calc(var(--z-index-popup) + 1);
        }

        svg {
            display: block;
            margin: 0 auto;
        }

        &:hover {
            background-color: var(--tailwind-colors-gray-100);
            border: 1px solid var(--tailwind-colors-gray-200);
        }

        @media (min-width: $desktop-breakpoint) {
            top: var(--spacing-x-large);
            right: var(--spacing-small);
            left: auto;

            /* Adjust button position when open to avoid overlapping with scrollbar */
            &.venue-selector__button--open {
                right: calc(3 * var(--spacing-x-small));
            }
        }
    }

    @media (min-width: $desktop-breakpoint) {
        &__content {
            width: 568px;
            right: var(--spacing-small);
            bottom: var(--spacing-large);
            top: var(--spacing-large);
            border-radius: var(--rounding-large);
        }

        &__button {
            top: var(--spacing-x-large);
            right: calc(var(--spacing-small) + $align-offset);
        }
    }
}