.tooltip {
    display: grid;
    position: relative;

    &:hover .tooltip__text {
        display: block;
    }

    &__text {
        min-width: 200px;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -100%);
        padding: 0 var(--spacing-medium);
        color: var(--color-gray-70);
        background-color: var(--brand-colors-white-100);
        font-size: var(--font-size-small);
        border-radius: var(--rounding-large);
        position: absolute;
        z-index: 10000;
        box-shadow: 0 1px var(--spacing-x-small) rgba(0, 0, 0, 0.2);
        display: none;
    }

    &__text i {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        width: var(--spacing-large);
        height: var(--spacing-small);
        overflow: hidden;
    }

    &__text i::after {
        content: '';
        position: absolute;
        width: var(--spacing-small);
        height: var(--spacing-small);
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: var(--brand-colors-white-100);
        box-shadow: 0 1px var(--spacing-x-small) rgba(0, 0, 0, 0.2);

    }
}