.modal {
    position: absolute;
    background: white;
    z-index: 1000;
    color: black;
    width: 30%;
    top: 40px;
    left: 40px;
    bottom: 40px;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
}