.modal {
    position: absolute;
    z-index: 1000;
    color: black;
    width: 30%;
    height: fit-content;
    left: var(--spacing-large);
    bottom: var(--spacing-large);
    border-radius: var(--spacing-x-small);
    border: 1px solid var(--tailwind-colors-neutral-200);
    padding: var(--spacing-medium);
    background: var(--tailwind-colors-white);
}