@import '../../variables.scss';

.wayfinding {
    color: var(--brand-colors-black-100);
    display: grid;
    grid-template-rows: 220px 1fr;

    &__directions {
        background-color: var(--color-gray-20);
        border-bottom: 1px solid var(--color-gray-30);
        padding: var(--spacing-medium);
        position: relative;
        border-radius: var(--rounding-large) var(--rounding-large) 0 0;
    }

    &__title {
        font-size: var(--font-size-small);
        text-align: center;
        font-weight: var(--font-weight-large);
        color: var(--color-gray-70);
    }

    &__close {
        position: absolute;
        top: var(--spacing-x-small);
        right: var(--spacing-x-small);
        background: none;
        border: none;
    }

    &__locations {
        display: grid;
        gap: var(--spacing-medium);
        position: relative;
    }

    &__label {
        display: grid;
        gap: var(--spacing-x-small);
        font-size: var(--font-size-small);
        color: var(--color-gray-70);
        font-weight: var(--font-weight-large);
    }

    &__details {
        padding: var(--spacing-medium);
        overflow: scroll;
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        padding: var(--spacing-x-small);
        overflow: scroll;
        grid-auto-rows: min-content;

        p {
            text-align: center;
        }
    }

    &__accessibility {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        align-items: center;
        width: fit-content;

        .mi-toggle:checked {
            background-color: var(--color-teal-90);
        }
    }

    &__info {
        display: grid;
        gap: var(--spacing-x-small);
    }

    &__distance,
    &__time {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-xx-small);
        align-items: center;
        color: var(--color-gray-70);
        width: fit-content;
    }

    &__minutes,
    &__meters {
        font-weight: var(--font-weight-large);
    }

    hr {
        margin: var(--spacing-medium) 0;
        background-color: var(--color-gray-30);
        border: none;
        height: 1px;
    }

    &__button {
        background-color: var(--color-teal-90);
        color: var(--color-white-white);
        border-radius: var(--rounding-large);
        border: none;
        font-size: var(--font-size-small);
        width: 100%;
        height: var(--spacing-xx-large);
        position: relative;
        margin-top: var(--spacing-x-large);
        font-weight: var(--font-weight-x-large);

        svg {
            position: absolute;
            left: var(--spacing-small);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__scrollable {
        overflow: auto;
    }

    &__error {
        text-align: center;
    }

    @media (min-width: $desktop-breakpoint) {
        max-height: 50vh;
        min-height: 400px;
    }
}