#root {
    margin: 0 auto;
    text-align: center;
}

.app {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px 1fr 40px;
    background-color: rgb(241, 245, 249);
}

.app__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app__nav h1 {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.app__nav h1 img {
    height: 40px;
    margin-right: 0.5rem;
}

.app__nav ul {
    list-style-type: none;
    margin: 0 1em 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.app__nav li {
    display: block;
    color: rgb(100, 116, 139);
    font-weight: 600;
    font-size: 14px;
    padding: 0.25rem 0.5rem;
}

.app__nav li.selected {
    color: black;
    background-color: white;

}

.app__map > * {
    height: 100%;
}

.dialog {
    z-index: 10;
    font-size: 1rem;
}


.location-details {
    position: relative;
}

.location-details ul {
    list-style-type: none;
    display: flex;
}

.location-details li {
    margin: 0 0.5rem;
    border-radius: 16px;
    display: block;
    padding: 0.25rem 0.5rem;
    background-color: rgba(241, 245, 249, 0.89);
}

.location-details button.close {
    position: absolute;
    right: 0;
    top: -1.5rem;
}

.location-details button.book {
    background-color: black;
    color: white;
}

.venue-selector {
    position: absolute;
    top: calc(60px + 1rem);
    left: 1rem;
    z-index: 10;
    font-size: 18px;
    background-color: white;
}