@import '@mapsindoors/midt/build/css/mapsindoors-map-variables';
@import '@mapsindoors/css/toggle.css';

.mapsindoors-map {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    * {
        box-sizing: border-box;
        font-family: var(--font-family-system);
    }

    &--show-elements {
        mi-floor-selector {
            visibility: visible;
        }

        .venue-selector__button {
            display: block;
        }

        .view-mode-switch {
            display: block;
        }
    }

    &--hide-elements {
        mi-floor-selector {
            visibility: hidden;
        }

        .venue-selector__button {
            display: none;
        }

        .view-mode-switch {
            display: none;
        }
    }

    &--show-my-position {
        mi-my-position {
            display: block;
        }
    }

    &--hide-my-position {
        mi-my-position {
            display: none;
        }
    }

    &--hide-venue-selector{
        .view-mode-switch {
            margin-top: -68px; // When the venue selector is not visible, place the 2D/3D switch at the top.
        }
    }

    .mi-floor-selector__list {
        box-sizing: unset;
    }
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;

    #mi_map_logo {
        z-index: var(--z-index-dropdown) !important;
    }
}

/*
 * Utility class to prevent global scrolling for an element.
 */
.prevent-scroll {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none; // iOS fix
}