@import '../../../variables.scss';

.categories {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x-small);
    margin-top: var(--spacing-x-small);

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x-small);
        overflow: auto;
        scrollbar-width: none;
    }

    &__category {
        button {
            display: flex;
            align-items: center;
            width: 100%;
            padding: var(--spacing-small);
            border-radius: var(--spacing-x-small);
            border: 1px solid var(--color-gray-30);
            background: none;
            cursor: pointer;
            text-align: left;
            gap: var(--spacing-small);
            font-size: var(--font-size-medium);
            color: black;
        }

        img {
            width: var(--spacing-large);
            height: var(--spacing-large);
        }

        &:hover {
            background-color: var(--tailwind-colors-gray-50);
            border: var(--tailwind-colors-gray-200);
        }

        width: 100%;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: var(--spacing-x-large);
        padding-top: var(--spacing-medium);
        padding-bottom: var(--spacing-medium);

        &--button {
            display: flex;
            align-items: center;
            cursor: pointer;
            background: none;
            border: none;
            font-size: var(--font-size-medium);
            color: var(--color-gray-90);
            padding: var(--spacing-small);
            margin: calc(-1 * var(--spacing-small)) calc(-1 * var(--spacing-small)) calc(-1 * var(--spacing-small)) 0; // Counter the padding with negative margins except left

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}