.categories {
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x-small);
    margin-top: var(--spacing-x-small);

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x-small);
        overflow: auto;
        scrollbar-width: none;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: var(--spacing-small);
        padding: var(--spacing-small);
        cursor: pointer;
        background: none;
        border: none;
        font-size: 1rem;
        color: var(--color-gray-90);

        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__item {
        padding: var(--spacing-small);
        border: 1px solid var(--color-gray-30);
        border-radius: var(--spacing-x-small);
        cursor: pointer;

        &:hover {
            background-color: var(--color-gray-10);
        }
    }

    &__scroll-button {
        width: var(--spacing-xxx-large);
        height: var(--spacing-xxx-large);
        background-color: var(--brand-colors-white-100);
        border: 1px solid var(--color-gray-30);
        border-radius: var(--spacing-x-small);

        &:disabled {
            cursor: not-allowed;
            opacity: 0.3;
        }
    }
}