.categories {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x-small);
    margin-top: var(--spacing-x-small);

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-x-small);
        overflow: auto;
        scrollbar-width: none;
    }

    &__category {
        button {
            display: flex;
            align-items: center;
            width: 100%;
            padding: var(--spacing-small);
            border-radius: var(--spacing-x-small);
            border: 1px solid var(--color-gray-30);
            background: none;
            cursor: pointer;
            text-align: left;
            gap: var(--spacing-small);
            font-size: var(--font-size-medium);
            color: black;
        }

        img {
            width: var(--spacing-large);
            height: var(--spacing-large);
        }

        &:hover {
            background-color: var(--tailwind-colors-gray-50);
            border: var(--tailwind-colors-gray-200);
        }

        width: 100%;
    }
}