.categories {
    overflow: auto hidden;
    flex-shrink: 0;
    display: grid;
    grid-auto-flow: column;
    gap: var(--spacing-x-small);
    margin-top: var(--spacing-x-small);

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
    
    &__list {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        overflow: auto hidden;
        grid-auto-columns: min-content;
    }

    &__scroll-button {
        width: var(--spacing-xxx-large);
        height: var(--spacing-xxx-large);
        background-color: var(--brand-colors-white-100);
        border: 1px solid var(--color-gray-30);
        border-radius: var(--spacing-x-small);

        &:disabled {
            cursor: not-allowed;
            opacity: 0.3;
        }
    }
}