.search {
    margin-left: 80px;
    margin-top: 16px;
    width: calc(100% - 160px);
    /* 80px padding on each side to accommodate for the 2D/3D switch and the Floor Selector */
    max-width: 360px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* On larger screens, accommodate that the 2D/3D switch adds more margin to itself */
    @media screen and (min-width: 992px) {
        margin-top: 32px;
        width: 320px;
    }
}

.search__results {
    width: 100%;
    max-height: 50vh;
    overflow-y: auto;
}

.search__no-results {
    padding: 16px;
    text-align: center;
}