@use '~@mapsindoors/midt/border';
@use '~@mapsindoors/midt/color';
@use '~@mapsindoors/midt/font';
@use '~@mapsindoors/midt/margin';
@use '~@mapsindoors/midt/padding';

.location-details {
    @include color.black();
    @include padding.all(medium);


    &__image {
        width: 100%;
        @include border.radius(x-large);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}

.location-info {
    display: flex;
    align-items: center;
    @include margin.bottom(medium);
    @include font.size(small);

    &__icon {
        @include margin.right(medium);
    }

    &__close {
        background: none;
        border: none;
        margin-left: auto;
    }
}
