.location-details {
    padding: var(--spacing-medium);
    color: var(--color-black-base);

    &__image {
        width: 100%;
        border-radius: var(--rounding-x-large);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    &__description {
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}

.location-info {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-medium);
    font-size: var(--font-size-small);

    &__icon {
        margin-right: var(--spacing-medium);

         img {
            height: 40px;
            display: block; /* to avoid spacing below */
         }
    }

    &__close {
        background: none;
        border: none;
        margin-left: auto;
    }
}
