@import '../../variables.scss';

.search {
    padding: var(--spacing-medium);

    @media (max-width: $desktop-breakpoint) {
        padding: var(--spacing-medium) var(--spacing-x-small) var(--spacing-medium) var(--spacing-x-small);
    }

    &__error {
        text-align: center;
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        overflow: auto;
        flex: 1 1 auto;

        > * {
            height: fit-content; /* fixing issue on mobile Safari causing them to bee too large in case of just one search result */
        }
    }

    &__scroll-buttons {
        position: fixed;
        left: calc(50% + 284px + 20px); /* Half viewport width + half modal width + gap */
        bottom: var(--spacing-x-large);
    }

    &__info {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
    }

    &__legend {
        width: var(--spacing-xxx-large);
        height: var(--spacing-xxx-large);
        border: 1px solid var(--color-gray-30);
        border-radius: var(--rounding-large);
        background-color: white;
    }

    &__label {
        span {
            display: none;
        }
    }

    &__back {
        display: flex;
        align-items: center;
        gap: var(--spacing-x-large);
        padding-top: var(--spacing-medium);
        padding-bottom: var(--spacing-medium);

        &-button {
            display: flex;
            align-items: center;
            cursor: pointer;
            background: none;
            border: none;
            font-size: var(--font-size-medium);
            color: var(--color-gray-90);
            padding: var(--spacing-small); // Add padding for larger clickable area
            margin: calc(-1 * var(--spacing-small)) calc(-1 * var(--spacing-small)) calc(-1 * var(--spacing-small)) 0; // Counter the padding with negative margins except left
            
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    @media (max-width: $desktop-breakpoint) {
        padding: var(--spacing-medium) var(--spacing-x-small) var(--spacing-medium) var(--spacing-x-small);
    }
}