@import '../../variables.scss';

.search {
    padding: var(--spacing-medium);
    display: grid;
    grid-auto-rows: min-content;
    overflow: auto;

    &__error {
        text-align: center;
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        overflow: auto;
        grid-auto-rows: min-content;
        margin-top: var(--spacing-x-small);
    }

    @media (max-width: $desktop-breakpoint) {
        padding: var(--spacing-medium) var(--spacing-x-small) var(--spacing-medium) var(--spacing-x-small);
    }
}