@import '../../variables.scss';

.search {
    padding: var(--spacing-medium);
    display: grid;
    grid-auto-rows: min-content;
    overflow: auto;

    &__scrollable {
        overflow: auto;
        display: grid;
    }

    &__categories {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        overflow: auto hidden;
        grid-auto-columns: min-content;
        margin-top: var(--spacing-x-small);
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        overflow: auto;
        grid-auto-rows: min-content;
        margin-top: var(--spacing-x-small);

        p {
            text-align: center;
        }
    }

    @media (max-width: $desktop-breakpoint) {
        padding: var(--spacing-medium) var(--spacing-x-small) var(--spacing-medium) var(--spacing-x-small);
    }
}