@import '../../variables.scss';

.search {
    padding: var(--spacing-medium);
    display: grid;
    grid-auto-rows: min-content;
    overflow: auto;

    &__scrollable {
        overflow: auto;
        display: grid;
        grid-auto-flow: column;
        align-items: end;
        gap: 8px;
    }

    &__categories {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        overflow: auto hidden;
        grid-auto-columns: min-content;
        margin-top: var(--spacing-x-small);
    }

    &__error {
        text-align: center;
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        overflow: auto;
        grid-auto-rows: min-content;
        margin-top: var(--spacing-x-small);
    }

    &__scroll-button {
        width: 48px;
        height: 48px;
        background-color: white;
        border: 1px solid #E5E7EB;
        border-radius: 8px;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.3;
        }
    }

    @media (max-width: $desktop-breakpoint) {
        padding: var(--spacing-medium) var(--spacing-x-small) var(--spacing-medium) var(--spacing-x-small);
    }
}