// Base styles for map controls
%control-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);

    // Hide empty portal containers to prevent unwanted spacing
    > div:empty {
        display: none;
    }
}

// Desktop layout - top right
.map-controls-container.desktop.top-right {
    @extend %control-container;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
}

// Desktop layout - bottom right
.map-controls-container.desktop.bottom-right {
    @extend %control-container;
    bottom: calc(3 * var(--spacing-medium));
    right: calc(1 * var(--spacing-medium));
}

// Kiosk layout - top right
.map-controls-container.kiosk.top-right {
    @extend %control-container;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
}

// Kiosk layout - bottom right
.map-controls-container.kiosk.bottom-right {
    @extend %control-container;
    bottom: calc(3 * var(--spacing-medium));
    right: calc(1 * var(--spacing-medium));
}

// Mobile layout, two columns aligned to the top left and right
.mobile-column {
    @extend %control-container;
    top: var(--spacing-medium);

    &.map-controls-left-column {
        left: var(--spacing-medium);
    }

    &.map-controls-right-column {
        right: var(--spacing-medium);
    }
}
