// Base styles for map controls
%control-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
    // Web components (mi-floor-selector and mi-my-position) have a built-in margin of 10px
    // that we need to compensate for to maintain consistent spacing with React components.
    // This cannot be overridden directly due to web component encapsulation.
    --web-component-margin: 10px;

    #floor-selector-portal,
    #my-position-element-portal {
       // Neutralize the web components' internal margin to align with other controls
        margin: calc(var(--web-component-margin) * -1);
    }
}

// Desktop layout, one column aligned to the top right
#map-controls-container {
    @extend %control-container;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
}

// Mobile layout, two columns aligned to the top left and right
.mobile-column {
    @extend %control-container;
    top: var(--spacing-medium);
    
    &#map-controls-left-column {
        left: var(--spacing-medium);
    }
    
    &#map-controls-right-column {
        right: var(--spacing-medium);
    }
}