@use '~@mapsindoors/midt/build/scss/variables';

:host {
    display: grid;
    gap: 24px;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 24px 1fr;
}

.icon {
    width: 24px;
    height: 24px;
}

.description {
    font-size: 16px;
    display: grid;
    gap: 8px;
    height: fit-content;

    &__text {
        margin: 0;
        font-size: 16px;
        word-break: break-all;
    }

    mi-distance {
        font-size: 14px;
        color: #8B8B8B;
    }
}
