@use '~@mapsindoors/midt/build/scss/variables';
@use "~@mapsindoors/midt/icons";
@use "~@mapsindoors/midt/sizing";
@use "~@mapsindoors/midt/padding";
@use "~@mapsindoors/midt/border";
@use "~@mapsindoors/midt/font";

:host {
    display: flex;
    @include padding.vertical(small);
    @include font.family(sans-serif);
}

.icon {
    @include sizing.width(xxx-large);

    display: flex;
    justify-content: center;

    mi-icon {
        @include icons.size(medium);
    }
}

.description {
    display: flex;
    flex-direction: column;
    flex: 1;
    p {
        margin: 0;
        @include padding.right(medium);
        @include font.size(small);

        word-break: break-all;
    }
    &__distance {
        display: flex;
        align-items: center;

        mi-distance {
            @include font.size(x-small);
            @include padding.right(small);
        }

        &-border {
            flex: 1;
            width: 100%;
            height: 0;
            border-bottom: 1px solid variables.$color-gray-30;
        }
    }
}
