@import '../../variables.scss';

.search {
    padding: var(--spacing-large) var(--spacing-x-small) var(--spacing-x-small) var(--spacing-x-small);
    display: grid;
    gap: var(--spacing-x-small);
    height: 100%;
    grid-auto-rows: min-content;

    &__scrollable {
        overflow: auto;
        display: grid;
        gap: var(--spacing-x-small);
    }

    &__categories {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        overflow: auto hidden;
        grid-auto-columns: min-content;
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        overflow: auto;
        grid-auto-rows: min-content;

        p {
            text-align: center;
        }
    }


        &--full {
            height: fit-content;
            max-height: 50vh;
        }
    @media (min-width: $desktop-breakpoint) {
        max-height: 50vh;
    }
}