@import '../../variables.scss';

.search {
    padding: var(--spacing-large) var(--spacing-x-small) var(--spacing-x-small) var(--spacing-x-small);
    display: grid;
    gap: var(--spacing-x-small);
    color: var(--brand-colors-black-100);
    grid-template-rows: var(--spacing-xxx-large) 60px 1fr;

    &__categories {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        overflow: auto hidden;
        grid-auto-columns: min-content;
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        overflow: auto;
        grid-auto-rows: min-content;

        p {
            text-align: center;
        }
    }

    &--fit {
        height: fit-content;
    }

    &--full {
        height: 100vh;
    }

    @media (min-width: $desktop-breakpoint) {
        &--fit {
            max-height: 50vh;
        }

        &--full {
            height: fit-content;
            max-height: 50vh;
        }
    }
}