@use '~@mapsindoors/midt/build/scss/variables';
@use '~@mapsindoors/midt/font';
@use '~@mapsindoors/midt/margin';
@use '~@mapsindoors/midt/sizing';
@use '~@mapsindoors/midt/opacity';
@use '~@mapsindoors/midt/color';
@use '~@mapsindoors/midt/border';

@import "../../../../../node_modules/@mapsindoors/css/buttons.css";

:host {
    display: block;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    @include font.size(large);
    @include margin.top(small);
    @include margin.bottom(small);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-icon {
    @include sizing.width(medium);
    @include sizing.height(medium);
    @include margin.right(xx-small);
    background-color: white;

    &--blocked {
        background-color: rgba(0, 0, 0, 0.247); /* default browser disabled color needs to be applied */
    }
}
