.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 86, 85);
    color: white;
}

.app mi-icon {
    background-color: white;
    width: 3rem;
    height: 3rem;
}
