.location-details {
    padding: var(--spacing-medium);
    color: var(--color-black-base);
    display: grid;
    gap: var(--spacing-medium);

    &__image {
        max-width: 400px;
        width: 100%;
        border-radius: var(--rounding-x-large);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    &__categories {
        font-size: var(--font-size-small);
        margin: 0;
    }

    &__description {
        white-space: pre-wrap; /* make sure line breaks in the description text are shown as such */
        overflow-wrap: break-word;

        p, div {
            font-size: var(--font-size-small);
        }

        p {
            font-weight: var(--font-weight-medium);
            margin:  0 0 var(--spacing-x-small) 0;
        }

        div {
            color: var(--color-gray-70);
            line-height: 1.5;
            overflow-y: hidden;
            max-height: var(--spacing-xxxx-large); /* corresponding to approx. 3 lines of description text */
        }

        button {
            all: unset;
            font-size: var(--font-size-small);
            color: var(--color-blue-base);
        }

        &--full {
            div {
                max-height: none; /* FIXME: Make only the div scrollable, not the entire sheet. */
            }
        }
    }

    &__wayfinding {
        background-color: var(--color-teal-90);
        color: var(--color-white-white);
        border-radius: var(--rounding-large);
        border: none;
        font-size: var(--font-size-small);
        width: 100%;
        height: var(--spacing-xx-large);
        position: relative;

        svg {
            position: absolute;
            left: var(--spacing-small);
            top: 50%;
            transform: translateY(-50%);
            fill: white;
        }
    }
}

.location-info {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);

    &__icon {
        margin-right: var(--spacing-medium);

        img {
            height: var(--spacing-xx-large);
            display: block; /* to avoid spacing below */
        }
    }

    &__close {
        background: none;
        border: none;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .location-details {
        padding: var(--spacing-large) var(--spacing-x-large) var(--spacing-medium) var(--spacing-x-large);
    }
}

