.splash-screen {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10002; // Place on top of all map elements.
    background-color: var(--brand-colors-white-100);

    &__logo {
        width: 100%;
        max-height: 100%;
    }

    &__loader {
        width: var(--spacing-xxx-large);
        height: var(--spacing-xxx-large);
        border-radius: 50%;
        position: relative;
        animation: loader 1s infinite linear;
    }

    &__container {
        display: grid;
        justify-self: center;
        grid-auto-flow: row;
        grid-auto-rows: 300px min-content;
        align-content: center;
        grid-template-columns: 300px;
        justify-items: center;
        align-items: center;
        gap: var(--spacing-xxx-large);
        animation: slideIn 1s;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}