@import "../../global/global";

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    display: flex;

    .scroll-container {
        width: 100%;
        overflow-y: auto;
    }
}
