.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__heading {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: rgb(15, 23, 42);
    font-style: normal;
    display: flex;
    align-items: center;
    gap: 8px;

    margin-left: 16px;
    @media (min-width: 768px) {
        margin-left: 24px;
    }
}

.header__heading img {
    height: 24px;
}

.header__nav {
    position: absolute; /* to enable overlapping the heading on very small viewports */
    right: 16px;
    @media (min-width: 992px) {
        right: 24px;
    }
}

.header__nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.header__nav a {
    display: block;
    padding: 8px 16px;
    color: rgb(100, 116, 139);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.header__nav .active-link {
    color: black;
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
