.sheet {
    pointer-events: none;
    opacity: 0;
    transition: all .25s;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    transform: translateY(100%);
    background-color: var(--color-white-white);
    border-top-left-radius: var(--rounding-x-large);
    border-top-right-radius: var(--rounding-x-large);

    // A drag indicator as pseudo element
    &::before {
        position: absolute;
        content: ' ';
        top: var(--spacing-xx-small);
        left: 50%;
        transform: translateX(-50%);
        width: 28px;
        height: var(--spacing-xx-small);;
        border-radius: var(--spacing-xx-small);
        background-color: var(--color-gray-20);
    }

    &--active {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    &--dragging {
        transition: none;
        * {
            user-select: none;
        }
    }

    &__content {
        height: 100%;
        overflow-y: auto;
    }
}