.sheet {
    pointer-events: none;
    opacity: 0;
    transition: all .4s;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    transform: translateY(100%);
    background-color: var(--color-white-white);
    border-top-left-radius: var(--rounding-x-large);
    border-top-right-radius: var(--rounding-x-large);

    &--active {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    &__swipeable {
        user-select: none;
        padding-top: var(--spacing-xx-small);
        height: var(--spacing-large);
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__swipeable-icon {
        margin: 0 auto;
        width: 28px;
        height: 4px;
        border-radius: 4px;
        background-color: var(--color-gray-20);
    }

    &__content {
        height: 100%;
        overflow-y: auto;
    }
}