.modal {
    position: absolute;
    z-index: var(--z-index-modal);
    width: 568px;
    left: var(--spacing-large);
    bottom: var(--spacing-large);
    border-radius: var(--spacing-x-small);
    border: 1px solid var(--color-gray-30);
    background: var(--color-white-white);
    transform: translateY(calc(100% + var(--spacing-large)));
    max-height: 50vh; // UX spec
    min-height: fit-content;
    overflow: auto;

    &--open {
        transform: translateY(0);
    }

    &--full {
        height: 100%;

        .modal__content {
            height: 100%;
        }
    }
}