$desktop-breakpoint: 992px;

.modal {
    position: absolute;
    z-index: var(--z-index-overlay);
    width: 568px;
    left: var(--spacing-medium);
    bottom: var(--spacing-x-large);
    border-radius: var(--spacing-x-small);
    border: 1px solid var(--color-gray-30);
    background: var(--color-white-white);
    transform: translateY(calc(100% + var(--spacing-large)));
    overflow: auto;
    display: none;
    max-height: 80%;

    /* Hide scrollbar for all browsers */
    /* For WebKit browsers (Chrome, Safari) */
     &::-webkit-scrollbar {
        display: none;
    } 
    /* For Firefox */
    scrollbar-width: none;
    /* Edge */
    -ms-overflow-style: none;

    &--open {
        transform: translateY(0);
        display: block;
    }

    &--full:not(.modal--kiosk) {
        height: 100%;
    }

    &--substeps {
        height: 100%;

        .modal__content {
            height: 100%;
        }
    }

    &--kiosk {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-height: none;
    }

    top: var(--spacing-medium);
    bottom: auto;
    transform: translateX(-100%);

    &--open {
        transform: translateX(0);
    }
}
