.switch {
    display: grid;
    width: fit-content;
    background-color: white;
    height: fit-content;
    border-radius: 12px;
    border: 1px solid #E6E6E6;
    gap: 4px;
    padding: 4px;
    position: absolute;
    z-index: var(--z-index-popup);
    top: 80px;
    left: var(--spacing-x-large);

    &__button {
        border-radius: 8px;
        width: 48px;
        height: 48px;
        display: grid;
        align-items: center;
        justify-content: center;
    }   
}