$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;

.view-mode-switch {
    display: grid;
    background-color: white;
    height: fit-content;
    border-radius: var(--spacing-small);
    border: 1px solid #E6E6E6;
    gap: var(--spacing-xx-small);
    padding: var(--spacing-xx-small);
    position: absolute;
    z-index: var(--z-index-sticky);
    top: var(--spacing-x-large);
    left: var(--spacing-x-large);

    &__button {
        border-radius: var(--rounding-large);
        width: var(--spacing-xx-large);
        height: var(--spacing-xx-large);
        display: grid;
        align-items: center;
        justify-content: center;
        border: none;
    }

    @media (max-width: $desktop-breakpoint) {
        top:var(--spacing-x-small);
        left: var(--spacing-x-small);
    }
}