.locations-list {
    min-height: 165px;

    &__header {
        padding: var(--spacing-medium);
        position: relative;
    }

    &__title {
        font-size: var(--font-size-medium);
        text-align: center;
        font-weight: var(--font-weight-large);
        color: var(--color-gray-90);
    }

    &__close {
        position: absolute;
        top: var(--spacing-x-small);
        right: var(--spacing-x-small);
        background: none;
        border: none;
    }

    &__list {
        display: grid;
        gap: var(--spacing-x-small);
        overflow: auto;
        grid-auto-rows: min-content;
        padding: var(--spacing-x-small);;
    }
}