.directions {
    color: var(--brand-colors-black-100);
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;

    &__details {
        padding: var(--spacing-medium) 0;
    }

    &__cancel,
    &__finish {
        background-color: var(--tailwind-colors-gray-100);
        border: none;
        border-radius: var(--rounding-large);
        width: 100%;
        height: fit-content;
        padding: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--color-gray-70);

        &:hover {
            background-color: var(--tailwind-colors-gray-200);
        }
    }

    &__finish {
        color: white;
    }

    &__minutes {
        font-weight: var(--font-weight-large);
        color: #6B7280;
        position: sticky;
        top: 0;
        background: white;
        z-index: 10000;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: var(--font-size-small);
    }

    &__icon {
        margin-right: var(--spacing-medium);

        img {
            height: var(--spacing-x-large);
            display: block;
            /* to avoid spacing below */
        }
    }

    &__name {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-xx-small);
        font-size: var(--font-size-small);
    }

    mi-location-info {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    &__content {
        display: grid;
        gap: var(--spacing-xx-small);
    }

    &__qr-code {
        width: fit-content;
        font-weight: var(--font-weight-large);
        display: grid;
        gap: var(--spacing-medium);
        grid-auto-flow: column;
        align-items: center;
        padding: var(--spacing-medium);
        background-color: var(--tailwind-colors-gray-100);
        border: none;
        border-radius: var(--rounding-large);
        font-weight: 600;
        color: var(--color-gray-90);

        &:hover {
            background-color: var(--tailwind-colors-gray-200);
        }
    }

    &__kiosk {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
    }

    hr {
        width: 100%;
        background-color: #E5E7EB;
        height: 1px;
        border: none
    }

    &__steps {
        padding: 0 16px;
        // height:160px;
    }

    &__actions {
        padding: 0 16px 16px 16px;
        position: sticky;
        bottom: 0;
        background: white;
        border-top: 1px solid #E5E7EB;
    }
}