.directions {
    color: var(--brand-colors-black-100);

    &__details {
        background-color: var(--color-gray-20);
        border-bottom: 1px solid var(--color-gray-30);
        padding: var(--spacing-medium);
        position: relative;
        border-radius: var(--rounding-large) var(--rounding-large) 0 0;
    }

    &__close {
        position: absolute;
        top: var(--spacing-x-small);
        right: var(--spacing-x-small);
        background: none;
        border: none;
    }

    &__locations {
        display: grid;
        gap: var(--spacing-medium);
        position: relative;
        width: fit-content;
    }

    &__container {
        display: grid;
        gap: var(--spacing-x-small);
    }

    &__label {
        font-size: 14px;
        color: var(--color-gray-70);
        font-weight: var(--font-weight-large);
        text-transform: uppercase;
    }

    &__guide {
        padding: var(--spacing-medium);
    }

    &__info {
        display: grid;
        gap: var(--spacing-x-small);
    }

    &__distance,
    &__time {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        align-items: center;
        color: var(--color-gray-70);
        width: fit-content;
    }

    &__distance {
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__time {
        svg {
            width: var(--spacing-medium);
            height: var(--spacing-medium);
        }
    }

    &__minutes,
    &__meters {
        font-weight: var(--font-weight-large);
    }

    hr {
        margin: var(--spacing-medium) 0;
        background-color: var(--color-gray-30);
        border: none;
        height: 1px;
    }

    .travel {
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 60px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        width: auto;
        -webkit-transition: max-width 0.5s;
        transition: max-width 0.5s;
        padding: 10px 24px;
        gap: 24px;
        display: flex;
        flex-direction: row;
        border: 1px solid var(--color-gray-30);

        &__mode {
            display: grid;
            grid-auto-flow: column;
            gap: 10px;
            align-items: center;
            width: fit-content;

            &.active {
                order: -1;
            }
        }

    }
}