@import '../../variables.scss';

.location-details {
    padding: var(--spacing-medium); // Keep this for overall content alignment
    color: var(--color-black-base);
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr; // Header takes content size, details takes the rest

    &__header {
        position: sticky;
        top: 0; // Stick to the top of the modal's scrollable area
        background: var(--color-white-white);
        padding: var(--spacing-medium);
        margin: calc(var(--spacing-medium) * -1);
    }

    &--content-below {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: var(--spacing-medium);
            left: 0;
            right: 0;
            height: var(--spacing-xx-large);
            background: linear-gradient(rgba(255, 255, 255, 0), white);
        }
    }

    &--content-above {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 120px;
            left: 0;
            right: 0;
            height: var(--spacing-xx-large);
            background: linear-gradient(white, rgba(255, 255, 255, 0));
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
        overflow-y: auto;
        margin-top: 0;
        height: auto;
        min-height: 0;

        > *:first-child {
            margin-top: var(--spacing-medium);
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        width: 100%;
        border-radius: var(--rounding-large);
        object-fit: contain;
        margin: var(--spacing-medium) 0;
    }

    &__categories {
        font-size: var(--font-size-small);
        margin: 0;
    }

    &__description {
        white-space: pre-wrap; /* make sure line breaks in the description text are shown as such */
        overflow-wrap: break-word;

        div {
            font-size: var(--font-size-small);
            color: var(--color-gray-70);
            line-height: 1.5;
            overflow-y: hidden;
            max-height: var(--spacing-xxxx-large); /* corresponding to approx. 3 lines of description text */
        }

        button {
            all: unset;
            font-size: var(--font-size-small);
            color: var(--color-blue-base);
            margin-top: var(--spacing-x-small);
            cursor: pointer;
        }

        &--full {
            div {
                max-height: none;
            }
        }
    }

    &__wayfinding {
        position: sticky;
        top: 0;
        margin: var(--spacing-medium) 0;
        color: var(--color-white-white);
        border-radius: var(--rounding-large);
        border: none;
        font-size: var(--font-size-small);
        width: 100%;
        height: var(--spacing-xxx-large);
        font-weight: var(--font-weight-x-large);
        background: var(--color-primary);

        &:hover {
            filter: brightness(90%);
        }
    }

    &--no-route {
        opacity: .5;
        cursor: not-allowed;
    }
}

.location-info {
    display: grid;
    align-items: center;
    font-size: var(--font-size-small);
    grid-template-columns: min-content 1fr min-content;
    gap: var(--spacing-x-small);

    &__icon {
        margin-right: var(--spacing-medium);

        img {
            height: var(--spacing-x-large);
            display: block; /* to avoid spacing below */
        }
    }

    &__actions {
        margin-left: auto;
        display: flex;
        gap: var(--spacing-x-small);
    }

    &__button {
        background: none;
        border: 1px solid var(--tailwind-colors-gray-200);
        margin-left: auto;
        width: var(--spacing-xx-large);
        height: var(--spacing-xx-large);
        border-radius: var(--rounding-large);
        display: grid;
        justify-content: center;
        align-items: center;
        align-self: start;

        &:hover {
            background-color: var(--tailwind-colors-gray-50);
            cursor: pointer;
        }
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    &__content {
        display: grid;
        gap: var(--spacing-xx-small);
    }
}

.contact-action-buttons-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x-small);
}