@import '../../variables.scss';

.location-details {
    padding: var(--spacing-medium);
    color: var(--color-black-base);
    display: grid;
    height: 100%;
    overflow-y: hidden;
    grid-template-rows: 40px 1fr 56px;

    &--content-below {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: calc(56px + var(--spacing-medium));
            left: 0;
            right: 0;
            height: var(--spacing-xx-large);
            background: linear-gradient(rgba(255, 255, 255, 0), white);
        }
    }

    &--content-above {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 56px;
            left: 0;
            right: 0;
            height: var(--spacing-xx-large);
            background: linear-gradient(white, rgba(255, 255, 255, 0));
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
        overflow-y: auto;

        > *:first-child {
            margin-top: var(--spacing-medium);
        }
    }

    &__image {
        max-width: 400px;
        width: 100%;
        border-radius: var(--rounding-x-large);
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    &__categories {
        font-size: var(--font-size-small);
        margin: 0;
    }

    &__description {
        white-space: pre-wrap; /* make sure line breaks in the description text are shown as such */
        overflow-wrap: break-word;

        div {
            font-size: var(--font-size-small);
            color: var(--color-gray-70);
            line-height: 1.5;
            overflow-y: hidden;
            max-height: var(--spacing-xxxx-large); /* corresponding to approx. 3 lines of description text */
        }

        button {
            all: unset;
            font-size: var(--font-size-small);
            color: var(--color-blue-base);
            margin-top: var(--spacing-x-small);
            cursor: pointer;
        }

        &--full {
            div {
                max-height: none;
            }
        }
    }

    &__wayfinding {
        margin-top: var(--spacing-medium);
        background-color: var(--color-teal-90);
        color: var(--color-white-white);
        border-radius: var(--rounding-large);
        border: none;
        font-size: var(--font-size-small);
        width: 100%;
        height: var(--spacing-xx-large);
        position: relative;
        font-weight: var(--font-weight-x-large);
    }
}

.location-info {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);

    &__icon {
        margin-right: var(--spacing-medium);

        img {
            height: var(--spacing-xx-large);
            display: block; /* to avoid spacing below */
        }
    }

    &__close {
        background: none;
        border: none;
        margin-left: auto;
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    &__content {
        display: grid;
        gap: var(--spacing-xx-small);
    }
}
