$button-from-top: var(--spacing-small);
$button-width: var(--spacing-xx-large);
$button-height: $button-width;

$transition-speed: 400ms;
$transition-timing-function: ease;

.venue-selector {
    &__content {
        position: absolute;
        background-color: white;
        z-index: 10000000; // Place on top of all map elements and bottom sheet
        overflow-y: hidden;
        display: grid;
        grid-template-rows: var(--spacing-xxxx-large) 1fr;

        h1 {
            color: var(--color-gray-90);
            font-size: var(--font-size-small);
            margin: 0;
            height: calc($button-height + 2 * var(--spacing-small));
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /*
         * Transition classes.
         * The transitions make the Venue selector appear to be expanding from and disappearing into the toggle button.
         */

        &-enter {
            top: $button-from-top;
            bottom: calc(100% - var(--spacing-xxxx-large));
            left: var(--spacing-x-small);
            width: var(--spacing-xx-large);
            transition: all $transition-speed $transition-timing-function;
            opacity: 0;
        }

        &-enter-active, &-enter-done {
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 1;
        }

        &-exit {
            top: var(--spacing-xxxx-large);
            bottom: 0;
            left: 0;
            width: 100%;
            transition: all $transition-speed $transition-timing-function;
            opacity: 1;
        }

        &-exit-active {
            top: $button-from-top;
            bottom: calc(100% - var(--spacing-xxxx-large));
            left: var(--spacing-x-small);
            width: var(--spacing-xx-large);
            opacity: 0;
        }
    }

    &__list {
        overflow-y: auto;
    }

    &__button {
        background-color: var(--color-white-base);
        border-radius:var(--rounding-large);
        border: 1px solid #E6E6E6;
        position: absolute;
        width: $button-width;
        height: $button-height;
        top: $button-from-top;
        left: var(--spacing-x-small);
        z-index: 10000001; // Place on top of all map elements, bottom sheet and the venue selector content

        svg {
            display: block;
            margin: 0 auto;
        }
    }
}
