@use '~@mapsindoors/midt/background-color';
@use '~@mapsindoors/midt/border';
@use '~@mapsindoors/midt/color';
@use '~@mapsindoors/midt/sizing';
@use '~@mapsindoors/midt/build/scss/variables';

$button-from-top: 60px;
$button-width: variables.$spacing-xx-large;
$button-height: $button-width;
$list-from-top: $button-from-top + $button-height + variables.$spacing-x-small;

$transition-speed: 400ms;
$transition-timing-function: ease;

.venue-selector {
    &__button {
        @include background-color.white();
        @include border.radius(x-large);
        border: none;
        position: absolute;
        width: $button-width;
        height: $button-height;
        top: $button-from-top;
        left: variables.$spacing-x-small;
        z-index: 1000; // Place on top of all map elements
    }

    &__list {
        position: absolute;
        background-color: white;
        z-index: 1000; // Place on top of all map elements
        overflow-y: auto;

        &-enter {
            top: $button-from-top;
            bottom: calc(100% - $list-from-top);
            left: variables.$spacing-x-small;
            @include sizing.width(xx-large);
            transition: all $transition-speed $transition-timing-function;
            opacity: 0;
        }

        &-enter-active, &-enter-done {
            top: $list-from-top;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 1;
        }

        &-exit {
            top: $list-from-top;
            bottom: 0;
            left: 0;
            width: 100%;
            transition: all $transition-speed  $transition-timing-function;
            opacity: 1;
        }

        &-exit-active {
            top: $button-from-top;
            bottom: calc(100% - $list-from-top);
            left: variables.$spacing-x-small;
            @include sizing.width(xx-large);
            opacity: 0;
        }
    }
}
