@use '~@mapsindoors/midt/border';
@use '~@mapsindoors/midt/color';
@use '~@mapsindoors/midt/margin';
@use '~@mapsindoors/midt/padding';
@use '~@mapsindoors/midt/build/scss/variables';

.venue {
    all: unset;
    border: none;
    margin: 0 variables.$spacing-x-small variables.$spacing-x-small variables.$spacing-x-small;
    @include border.radius(large);
    @include color.white();

    width: calc(100% - variables.$spacing-medium);
    height: 145px; /* by spec */
    background-size: cover;
    display: flex;
    align-items: flex-end;

    &__content {
        @include padding.all(medium);
        @include border.radius(large);
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
        width: 100%;
        height: 50%;
        display: flex;
        font-size: 14px;
        text-align: left;
        align-items: flex-end;
        justify-content: space-between;
        gap: variables.$spacing-medium;
    }

    &--no-image {
        background: linear-gradient(#b8b8b8, #5e5e5e);

        .venue__content {
            background: none;
        }
    }

    &__current {
        border: 1px solid white;
        @include border.radius(large);
        @include padding.all(x-small);
    }
}
