@use '~@mapsindoors/midt/build/scss/variables';
@use "~@mapsindoors/midt/font";
@use "~@mapsindoors/midt/padding";
@use "~@mapsindoors/midt/margin";
@use "~@mapsindoors/midt/color";
@use "~@mapsindoors/midt/border";
@use "~@mapsindoors/midt/sizing";
@use "~@mapsindoors/midt/icons";
@use "~@mapsindoors/midt/background-color";

:host {
    display: block;
    @include font.family(sans-serif);
}

.step {
    display: grid;
    gap: variables.$spacing-x-small;
    justify-items: center;

    &__info {
        display: grid;
        grid-auto-flow: column;
        width: fit-content;
        gap: variables.$spacing-x-small;
        align-items: center;
    }

    &__action-icon {

        &--circled {
            position: relative;
        }

        mi-icon {
            display: block;
            width: variables.$spacing-xx-large;
            height: variables.$spacing-xx-large;
        }
    }

    &__heading {
        @include font.weight(normal);
        @include font.size(large);
        @include margin.all(none);

        >span {
            @include font.size(small);
            @include color.gray(60);
        }
    }

    &__travel-mode {
        grid-area: modeicon;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 72px;

        &::before {
            position: absolute;
            width: calc(50% - 2px);
            left: 0;
            height: 100%;
            content: "";
        }

        &--dotted {
            &::before {
                border-right: variables.$spacing-xx-small dotted variables.$color-blue-30;
            }
        }

        &--solid {
            &::before {
                border-right: variables.$spacing-xx-small solid variables.$color-blue-30;
            }
        }

        &-icon {
            position: absolute;
            /* To ensure it is placed above dots */
            left: 50%;
            top: variables.$spacing-large;
            /* Halfway down uncollapsed (72px) */
            transform: translateX(-50%);

            /* solid background and padding to hide the dots */
            @include background-color.white(base);
            padding: 3px;
            border-radius: variables.$spacing-xx-small;

            mi-icon {
                @include icons.size(small);
                @include background-color.gray(60);
                display: block;
            }
        }
    }

    &__short-name {
        margin-right: variables.$spacing-xx-small;
        padding: variables.$spacing-xxx-small variables.$spacing-xx-small;
        @include font.size(small);
        @include color.white();
        @include background-color.gray(60);
        @include border.radius(small);
    }

    &__distance-duration {
        @include color.gray(60);
        @include font.size(small);
    }

    &__toggle {
        grid-area: toggle;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 300ms;
        cursor: pointer;

        &--open {
            transform: rotate(180deg);
        }

        mi-icon {
            @include icons.size(small);
            display: block;
            @include background-color.blue(60);
        }
    }

    &__substeps {
        grid-area: substeps;
    }
}