@use '~@mapsindoors/midt/build/scss/variables';
@use "~@mapsindoors/midt/font";
@use "~@mapsindoors/midt/padding";
@use "~@mapsindoors/midt/margin";
@use "~@mapsindoors/midt/color";
@use "~@mapsindoors/midt/border";
@use "~@mapsindoors/midt/sizing";
@use "~@mapsindoors/midt/icons";
@use "~@mapsindoors/midt/background-color";

:host {
    display: block;
    @include font.family(sans-serif);
}

.step {
    display: grid;
    grid-template-columns: 40px 1fr 40px; /* TODO: MIAJS-1303, make the grid work in IE11 */
    grid-template-areas: 'actionicon heading heading'
                         'modeicon description toggle'
                         'modeicon substeps substeps';

    &__action-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: actionicon;

        &--circled {
            position: relative;
            &::before {
                position: absolute;
                @include icons.size(medium);
                border: 1px solid variables.$color-black-base;
                content: "";
                @include border.radius(circle);
            }
        }

        mi-icon {
            display: block;
            @include sizing.width(small);
            @include sizing.height(small);
        }
    }

    &__heading {
        grid-area: heading;
        @include font.weight(normal);
        @include font.size(medium);
        @include margin.all(none);
        border-bottom: 1px solid #DCDCDF;
        border-top: 1px solid #DCDCDF;
        @include padding.all(small);

        > span {
            @include font.size(small);
            @include color.gray(60);
        }
    }

    &__travel-mode {
        grid-area: modeicon;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 72px;

        &::before {
            position: absolute;
            width: calc(50% - 2px);
            left: 0;
            height: 100%;
            content: "";
        }

        &--dotted {
            &::before {
                border-right: 4px dotted variables.$color-blue-30;
            }
        }

        &--solid {
            &::before {
                border-right: 4px solid variables.$color-blue-30;
            }
        }

        &-icon {
            position: absolute; /* To ensure it is placed above dots */
            left: 50%;
            top: 24px; /* Halfway down uncollapsed (72px) */
            transform: translateX(-50%);

            /* solid background and padding to hide the dots */
            @include background-color.white(base);
            padding: 3px;
            border-radius: 4px;

            mi-icon {
                @include icons.size(small);
                @include background-color.gray(60);
                display: block;
            }
        }
    }

    &__description {
        grid-area: description;
        @include padding.all(small);
    }

    &__short-name {
        margin-right: 4px;
        padding: 2px 4px;
        @include font.size(small);
        @include color.white();
        @include background-color.gray(60);
        @include border.radius(small);
    }

    &__distance-duration {
        @include color.gray(60);
        @include font.size(small);
    }

    &__toggle {
        grid-area: toggle;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 300ms;
        cursor: pointer;

        &--open {
            transform: rotate(180deg);
        }

        mi-icon {
            @include icons.size(small);
            display: block;
            @include background-color.blue(60);
        }
    }

    &__substeps {
        grid-area: substeps;
    }
}
