.wayfinding {
    color: var(--brand-colors-black-100);

    &__directions {
        background-color: var(--color-gray-20);
        border-bottom: 1px var(--color-gray-30);
        padding: var(--spacing-medium);
        position: relative;
        border-radius: var(--rounding-large) var(--rounding-large) 0 0;
    }

    &__title {
        font-size: 14px;
        text-align: center;
        font-weight: var(--font-weight-large);
        color: var(--color-gray-70);
    }

    &__close {
        position: absolute;
        top: var(--spacing-x-small);
        right: var(--spacing-x-small);
        background: none;
        border: none;
    }

    &__locations {
        display: grid;
        gap: var(--spacing-medium);
        position: relative;
    }

    &__to,
    &__from {
        display: grid;
        gap: var(--spacing-x-small);
    }

    &__switch {
        background-color: unset;
        border: none;
        position: absolute;
        right: 10px;
        top: 80px;
    }

    &__label {
        font-size: 14px;
        color: var(--color-gray-70);
        font-weight: var(--font-weight-large);
    }

    &__details {
        padding: var(--spacing-medium);

        .toggle {
            position: relative;
            display: inline-block;
            width: var(--spacing-xxx-large);
            height: var(--spacing-large);
            border-radius:var(--spacing-large);
            cursor: pointer;
        }

        .toggle input {
            display: none;
        }

        .toggle .slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: var(--spacing-large);
            background-color: var(--color-gray-50);
            transition: all 0.4s ease-in-out;
        }

        .toggle .slider::before {
            content: '';
            position: absolute;
            top: var(--spacing-xxx-small);;
            left: var(--spacing-xxx-small);;
            width: 20px;
            height: 20px;
            border-radius: calc(var(--spacing-large) / 2);
            background-color: var(--color-white-white);
            transition: all 0.4s ease-in-out;
        }

        .toggle input:checked+.slider {
            background-color: var(--brand-colors-dark-pine-100);
        }

        .toggle input:checked+.slider::before {
            transform: translateX(calc(var(--spacing-xxx-large) - var(--spacing-large)));
        }

        .toggle .labels {
            position: absolute;
            top: var(--spacing-xx-small);;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 12px;
            transition: all 0.4s ease-in-out;
        }

        .toggle .labels::after {
            content: attr(data-off);
            position: absolute;
            right: 5px;
            color: white;
            opacity: 1;
            transition: all 0.4s ease-in-out;
            margin-right: var(--spacing-xxx-small);;
        }

        .toggle .labels::before {
            content: attr(data-on);
            position: absolute;
            left: 5px;
            color: var(--color-white-white);
            opacity: 0;
            transition: all 0.4s ease-in-out;
            margin-left: var(--spacing-xxx-small);;
        }

        .toggle input:checked~.labels::after {
            opacity: 0;
        }

        .toggle input:checked~.labels::before {
            opacity: 1;
        }
    }

    &__accessibility {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        align-items: center;
        width: fit-content;
    }

    &__info {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    &__distance,
    &__time {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-xx-small);
        align-items: center;
        color: var(--color-gray-70);;
    }

    &__minutes,
    &__meters {
        font-weight: var(--font-weight-large);
    }

    hr {
        margin: var(--spacing-medium) 0;
        background-color: var(--color-gray-30);;
        border: none;
        height: 1px;
    }

    &__button {
        background-color: var(--brand-colors-dark-pine-100);
        color: var(--color-white-white);
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        align-items: center;
        width: 100%;
        justify-content: center;
        border-radius: var(--rounding-large);
        margin-top: var(--spacing-x-large);
        height: var(--spacing-xxx-large);
        border: none;
    }
}