.wayfinding {
    color: var(--brand-colors-black-100);

    &__directions {
        background-color: var(--color-gray-20);
        border-bottom: 1px solid var(--color-gray-30);
        padding: var(--spacing-medium);
        position: relative;
        border-radius: var(--rounding-large) var(--rounding-large) 0 0;
    }

    &__title {
        font-size: var(--font-size-small);
        text-align: center;
        font-weight: var(--font-weight-large);
        color: var(--color-gray-70);
    }

    &__close {
        position: absolute;
        top: var(--spacing-x-small);
        right: var(--spacing-x-small);
        background: none;
        border: none;
    }

    &__locations {
        display: grid;
        gap: var(--spacing-medium);
        position: relative;
    }

    &__label {
        display: grid;
        gap: var(--spacing-x-small);
        font-size: var(--font-size-small);
        color: var(--color-gray-70);
        font-weight: var(--font-weight-large);
    }

    &__details {
        padding: var(--spacing-medium);
    }

    &__results {
        display: grid;
        gap: var(--spacing-x-small);
        padding: var(--spacing-x-small);
    }

    &__accessibility {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-x-small);
        align-items: center;
        width: fit-content;

        .mi-toggle:checked {
            background-color: var(--color-teal-90);
        }
    }

    &__info {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    &__distance,
    &__time {
        display: grid;
        grid-auto-flow: column;
        gap: var(--spacing-xx-small);
        align-items: center;
        color: var(--color-gray-70);
        ;
    }

    &__minutes,
    &__meters {
        font-weight: var(--font-weight-large);
    }

    hr {
        margin: var(--spacing-medium) 0;
        background-color: var(--color-gray-30);
        border: none;
        height: 1px;
    }

    &__button {
        background-color: var(--color-teal-90);
        color: var(--color-white-white);
        border-radius: var(--rounding-large);
        border: none;
        font-size: var(--font-size-small);
        width: 100%;
        height: var(--spacing-xx-large);
        position: relative;
        margin-top: var(--spacing-x-large);
        font-weight: var(--font-weight-x-large);

        svg {
            position: absolute;
            left: var(--spacing-small);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__tooltip {
        display: grid;
        position: relative;

        &:hover .wayfinding__text {
            display: block;
        }
    }

    &__text {
        min-width: 200px;
        top: -20px;
        left: 50%;
        transform: translate(-50%, -100%);
        padding: 10px 20px;
        color: #444444;
        background-color: #FFFFFF;
        font-weight: normal;
        font-size: 13px;
        border-radius: 8px;
        position: absolute;
        z-index: 99999999;
        box-sizing: border-box;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
        display: none;
    }


    &__text i {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 12px;
        overflow: hidden;
    }

    &__text i::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #FFFFFF;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    }
}



